<section class="mp_glance">
    <div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <a href="#" class="icoimg">
                    <img src="/{{ directory }}/images/banner/logo.png" style="width: 80px;">
            </a>
            <h2 class="">Advantages Madhya Pradesh</h2>
            <div class="h-devider-center"></div>
        </div>
    </div>
    
        
    <div class="row">
        <div class="col-sm-3">
            <a href="#">
            <div class="mp_glance_box mg_bg1">
                <div class="mg_box">
                    <h4>Strategic location</h4>
                </div>      
            </div><!-- end div mp_glance_box -->
            </a>
        </div>
        
        <div class="col-sm-3">
            <a href="#">
            <div class="mp_glance_box mg_bg2">
                <div class="mg_box">
                    <h4>Strong Resource Base</h4>
                </div>      
            </div><!-- end div mp_glance_box -->
            </a>
        </div>
        
        <div class="col-sm-3">
            <a href="#">
            <div class="mp_glance_box mg_bg3">
                <div class="mg_box">
                    <h4>Consistance Economic Grouth</h4>
                </div>      
            </div><!-- end div mp_glance_box -->
            </a>
        </div>
        
        <div class="col-sm-3">
            <a href="#">
            <div class="mp_glance_box mg_bg4">
                <div class="mg_box">
                    <h4>Robust Support Infrastructure</h4>
                </div>      
            </div><!-- end div mp_glance_box -->
            </a>
        </div>
        
        <div class="col-sm-3">
            <a href="#">
            <div class="mp_glance_box mg_bg5">
                <div class="mg_box">
                    <h4>Industrial Cluster and Economic Hubs</h4>
                </div>      
            </div><!-- end div mp_glance_box -->
            </a>
        </div>
        
        <div class="col-sm-3">
            <a href="#">
            <div class="mp_glance_box mg_bg6">
                <div class="mg_box">
                    <h4>Favourable Policies</h4>
                </div>      
            </div><!-- end div mp_glance_box -->
            </a>
        </div>
        
        <div class="col-sm-3">
            <a href="#">
            <div class="mp_glance_box mg_bg7">
                <div class="mg_box">
                    <h4>End of Doing Business</h4>
                </div>      
            </div><!-- end div mp_glance_box -->
            </a>
        </div>
        
        <div class="col-sm-3">
            <a href="#">
            <div class="mp_glance_box mg_bg8">
                <div class="mg_box">
                    <h4>Industry Confidence</h4>
                </div>      
            </div><!-- end div mp_glance_box -->
            </a>
        </div>
        
        
        
        
    </div>    
        
        
    <!-------> 
        
        
    <div class="row text-center">
        <div class="col-md-12">
            <h2 class="mt-40">Priority Sectors For Investment</h2>
            <div class="h-devider-center"></div>
        </div>
    </div>
    <div class="psi">
        <!--<div class="row mb-40 text-center">
            <div class="col-md-12">
                <div class="mp-glance-title">
                    Priority Sectors For Investment
                </div>
            </div>
        </div>-->
        
        <div class="row text-center">
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg21">
                        <div class="mg_box">
                            <h4>Agri-business & Food Processing</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg22">
                        <div class="mg_box">
                            <h4>Automobile & Engineering</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg23">
                        <div class="mg_box">
                            <h4>Healthcare</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg24">
                        <div class="mg_box">
                            <h4>Industrial Infrastructure</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg25">
                        <div class="mg_box">
                            <h4>IT / ITES</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg26">
                        <div class="mg_box">
                            <h4>Pharmaceuticals</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg27">
                        <div class="mg_box">
                            <h4>Renewable Energy</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg28">
                        <div class="mg_box">
                            <h4>Technical Education & Skill Development</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg29">
                        <div class="mg_box">
                            <h4>Textile</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg30">
                        <div class="mg_box">
                            <h4>Tourism</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="mp_glance_box mg_bg31">
                        <div class="mg_box">
                            <h4>Urban Development</h4>
                        </div>      
                    </div><!-- end div mp_glance_box -->
                </a>
            </div>       
        </div>
    </div>
        
    
    </div><!-- end container -->
</section>
